
h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", serif;
}

main {
    padding: 20px;
}
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    
}

header h1 {
    margin-bottom: 10px;
}

/* nav */
.navbar {
    background-color: #161518;
    padding: 0;
    margin: 0;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-menu > li {
    position: relative; 
}

.nav-menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif; 
}

.nav-menu > li > a:hover {
    color: #cccbce;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #161518;
    list-style: none;
    min-width: 180px;
}

.dropdown-menu li a {
    display: block;
    padding: 12px 5px;
    color: white;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    color: #cccbce;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

